# Altium History v1.0
Hardware/v1.0/RcMPPT-SCC/History/
Hardware/v1.0/RcMPPT-BMS/History/
Hardware/v1.0/RcMPPT/History/

# Altium History v2.0
Hardware/v2.0/RcMPPT-SCC/History/
Hardware/v2.0/RcMPPT-SCC/Project Logs for RcMPPT-SCC/
Hardware/v2.0/RcMPPT-BMS/History/
Hardware/v2.0/RcMPPT/History/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
